.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-shadow: #ddd;
  background-color: rgb(40, 61, 37);
  h2{
    background-color: #ddd;
    color: #333;
    padding: 10px;
  }
}

.form {
  margin-bottom: 20px;
display: flex;
flex-direction: row;
justify-content: center;
gap:1rem;
width:100%;

  }
input{
  width: 60%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.joke {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.joke-text {
  font-size: 18px;
  margin-bottom: 5px;
  color:#333
}

.text {
  font-size: 24px;
  font-style: italic;
  color:black;
}



button {
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  background-color: #ddd;
}
